<section class="tab items {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  {{#each sections}}
  <div class="item-section">
    <div class="items-header">
      <h2>{{this.label}}</h2>
      {{#if @root.isEditable}}
      <button type="button" class="item-create" data-action="createItem" data-type="{{this.type}}">
        <i class="fa-solid fa-plus"></i> {{localize "SACROPHAGIA.Items.Create"}}
      </button>
      {{/if}}
    </div>

    {{#if this.items.length}}
    <ol class="items-list">
      {{#each this.items}}
      <li class="item {{#if this.equipToggle}}{{#unless this.equipada}}unequipped{{/unless}}{{/if}}"
          data-item-id="{{this.id}}">
        <img class="item-img" src="{{this.img}}" alt="{{this.name}}" />
        <a class="item-name" data-action="editItem">{{this.name}}</a>
        {{#if this.meta}}<span class="item-meta">{{this.meta}}</span>{{/if}}

        {{#if this.equipToggle}}
        <a class="item-control {{#if this.equipada}}active{{/if}}" data-action="toggleItemEquip"
           data-tooltip="{{localize 'SACROPHAGIA.Items.Equipar'}}"
           aria-label="{{localize 'SACROPHAGIA.Items.Equipar'}}">
          <i class="fa-solid fa-shield-halved"></i>
        </a>
        {{/if}}

        {{#if this.usable}}
        <a class="item-control" data-action="useItem"
           data-tooltip="{{localize 'SACROPHAGIA.Items.Usar'}}"
           aria-label="{{localize 'SACROPHAGIA.Items.Usar'}}">
          <i class="fa-solid fa-dice"></i>
        </a>
        {{/if}}

        {{#if @root.isEditable}}
        <a class="item-control" data-action="deleteItem"
           data-tooltip="{{localize 'SACROPHAGIA.Items.Delete'}}"
           aria-label="{{localize 'SACROPHAGIA.Items.Delete'}}">
          <i class="fa-solid fa-trash"></i>
        </a>
        {{/if}}
      </li>
      {{/each}}
    </ol>
    {{else}}
    <p class="empty">{{localize "SACROPHAGIA.Items.Empty"}}</p>
    {{/if}}
  </div>
  {{/each}}
</section>
