<section class="tab notes {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <prose-mirror name="system.biography" value="{{system.biography}}" toggled>{{{enrichedBiography}}}</prose-mirror>
</section>
