<div class="sacrophagia attribute-roll-card attribute-{{attribute.key}}">
  <header class="card-header">
    <span class="shape shape-{{attribute.shape}}"></span>
    <h3>{{attribute.label}}</h3>
  </header>
  <div class="dice-roll" data-action="expandRoll">
    <div class="dice-result">
      <div class="dice-formula">{{formula}}</div>
      <div class="dice-tooltip">{{{tooltip}}}</div>
      <h4 class="dice-total">{{total}}</h4>
    </div>
  </div>
</div>
